@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Playfair+Display:wght@400;900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;



}

::selection {
    background: rgb(255, 226, 130);
    color: #00b0fb;

}

::-moz-selection {
    background: rgb(255, 226, 130);
    color: #00b0fb;
}



html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/background.jpg);
    background-position: center;
    background-size: cover;
}

.main {
    display: grid;
    width: 500px;
    height: 550px;
    background-color: rgba(0, 200, 255, 0.457);
    backdrop-filter: blur(9px);
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    border-radius: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;

}

/* Input Field */
.input-field {
    box-shadow: 0px 2px 4px rgb(0, 0, 0);

    width: 350px;
    grid-column: 1 /4;
    background-color: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    align-self: center;
    justify-self: center;

}



input {

    border: none;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid rgb(167, 165, 165);
    padding-left: 10px;
    margin-left: 10px;
    font-size: 1rem;
}

input:focus {
    outline: none;
    background: linear-gradient(90deg, wheat, aqua);

}

button {
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.input-field img {
    width: 40px;
    opacity: 0.3;
    transition: all 0.3s;
}


.input-field img:hover {
    opacity: 0.5;
}

/* Location */


.location {

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 /4;


}

.location img {
    width: 50px;
}

.location h1 {
    font-size: 3.4rem;
    font-weight: 500;
}

/* Status */

.status {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    font-size: 1.6rem;


}

.status img {

    width: 120px;
}


/* Align  */

.align {
    grid-row: 4/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.align img {
    width: 100px;

}

.align h3 {
    margin-top: 10px;
    text-align: center;

}


.hide {
    display: none;
}



@media screen and (max-width:768px) {

    .main {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }


}



@media screen and (max-width:2340px) and (max-height:480px) {

    .main {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .input-field {
        width: 80vw;
        height: 40px;
    }

    .input-field input {
        height: 30px;
        margin-left: 6px;
    }

    .input-field button {
        width: 30px;
        height: 30px;

        margin-right: 10px;

    }

    .input-field img {
        width: 25px;
        height: 25px;
    }


    .location h1 {
        margin-top: 10px;
        font-size: 2.8rem;
    }


    .status img {
        width: 90px;
    }

    .align img {
        width: 50px;
    }
}


@media screen and (max-width:480px) {

    .main {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .align {
        font-size: 0.8rem;
    }

    .align img {
        width: 70px;
    }

}
